@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    margin: 0;
    font-family: Montserrat;
    /*background: linear-gradient(135deg, white 27%, #60F4A0 80%);*/
    font-weight: 400;
}

body, html{
    height: 100%;
    min-height: 100%;
    width: 100%;
}

/******** Navigation menu *********/
.nav-bar{
    height: 75px;
    width: 100%;
    background-color: #2f3640;
}

.logo-box{
    height: 130%;
    width: 205px;
    background: linear-gradient(90deg, #02a063 27%, #00b85c 80%);
    margin-left: 35px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 20px;
    margin-top: 20px;
}

.logo a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav{
    line-height: 40px;
    margin: 1.2em;
    position: absolute;
    left: 15%;
    top: -2.5%;
    text-decoration: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding-right: 36px;
}

.nav-bar a
{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-bar a:hover
{
    color: #ffe77aff;
}

/******** Navigation options *********/
.menu{
    padding-left: 10%;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color: #ffe77aff;
}

/******** login/sign-up menu *********/
.login-signup{
    padding-left: 65%;
}

.login-signup ul li{
    padding: 2px;
}

/******** Article body *********/
.article-container{
    height: 275%;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    color: #2f3640;
}

.article-title{
    height: 150px;
    width: 700px;
    margin-left: 15%;
    padding-left: 2%;

}

.article-image{
    height: 400px;
    width: 600px;
    margin-left: 20%;
    background-size: cover;
}

.left{
    height: 80px;
    width: 60%;
    float: left;
}

.author\/share{
    height: 80px;
    width: 600px;
    margin-left: 20%;
}

.author-date{
    height: 80px;
    width: 350px;
}

.right{
    height: 80px;
    width: 39%;
    float: right;
}

.share{
    height: 80px;
    width: 100%;
}

.icon-circle {
    margin-top: 7%;
    margin-left: 7%;
    font-size: 25px;
    padding-top: 3%;
    width: 45px;
    height: 40px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid #2f3640;
}

.icon-circle .facebook{
    color: #2f3640;
    padding-left: 35%;
}

.icon-circle .twitter{
    color: #2f3640;
    padding-left: 25%;
}

.icon-circle .mail{
    color: #2f3640;
    padding-left: 25%;
}

.article-body{
    height: 1000px;
    width: 600px;
    margin-top: 2%;
    margin-left: 20%;
}

/******** Footer *********/
footer{
    position: absolute;
    left: 0px;
    top: 320%;
    height: 90px;
    width: 101%;
    font-family: Montserrat;

    background-color: #2f3640;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: #ffe77aff;
}

footer p{
    padding-left: 5%;
}

.facebook-box {
    position: absolute;
    top: 35%;
    right: 5%;
    padding: 5px;
    font-size: 25px;
}

.facebook{
    color: white;
    width: 60px;
    height: 60px;
}

.twitter-box {
    position: absolute;
    top: 35%;
    right: 10%;
    padding: 5px;
    font-size: 25px;
}

.twitter {
    color: white;
    width: 60px;
    height: 60px;
}

.instagram-box {
    position: absolute;
    top: 35%;
    right: 15%;
    padding: 5px;
    font-size: 25px;
}

.instagram {
    color: white;
    width: 60px;
    height: 60px;
}

